* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --card-background-color: #202024;
  --card-border-color: #338af3;
  --h2-border-color: #338af3;
  --bg: url(./assets/bg-blue.svg);
}

body.yellow {
  --card-background-color: #1d1c19;
  --card-border-color: #f7dd43;
  --h2-border-color: #f7dd43;
  --bg: url(./assets/bg-yellow.svg);
}

body.green {
  --card-background-color: #1a1f1b;
  --card-border-color: #047c3f;
  --h2-border-color: #047c3f;
  --bg: url(./assets/bg-green.svg);
}

body {
  background-color: #121214;
  background-image: var(--bg);
  background-position-x: center;
  background-position-y: 55%;
  background-size: cover;
}

#app {
  width: fit-content; /*fit encaixar*/
  margin: 52px auto;
}

header {
  margin-bottom: 63px;
  text-align: center;
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  padding: 32px 23px;
  text-align: center;
  background: var(--card-background-color);
  border-bottom: 2px solid var(--card-border-color);
  border-radius: 6px;
}

.card h2 {
  display: flex;
  border: 1px solid var(--h2-border-color);
  align-items: center;
  gap: 16px; /*espaço entre elementos*/
  justify-content: center;
  padding: 8px 16px;
  border-radius: 6px;
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;
  color: #f7dd43;
}

.card h2 span {
  color: #e1e1e6;
  font-size: 14px;
  text-transform: uppercase;
}

.card ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 270px;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul li + li {
  padding-top: 24px;
  border-top: 1px solid #323238;
}

.card ul li strong {
  color: #e1e1e6;
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;
}

.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.2);
}

.card h2,
.card ul li strong,
.card ul li img {
  transition: transform 0.5s;
}

.card {
  opacity: 0;
  animation: appear 0.2s forwards;
}

@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (min-width: 700px) {
  #cards {
    max-width: 670px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
